extends ../layout

block content
    h2 Update A Customer 
    form(action=`/customers/update/${customer._id}` method="POST")
        div
            label(for="name") Name:
            input(type="text" id="name" name="name" value=customer.name required)
    
        div
            label(for="email") Email:
            input(type="email" id="email" name="email" value=customer.email)
    
        div
            label(for="phone") Phone:
            input(type="tel" id="phone" name="phone" value=customer.phone)
    
        div
            button(type="submit") Update