doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      h1 Customers Management
    
    block content
    
    block footer
      footer
        p © 2024 vinhchis.com.vn